extends layouts/login-layout.pug

block content 
    .loginContainer
        h1 Register
        form#form(method="POST")
            input(type="text", name="firstName",placeholder="First name", required="")
            input(type="text", name="lastName",placeholder="Second name", required="")
            input(type="text", name="login",placeholder="Login", required="")
            input(type="email", name="email",placeholder="Email", required="")
            input#password(type="pass", name="password",placeholder="Password", required="")
            input#passwordConf(type="pass", name="passwordConf",placeholder="Passwordconfirm", required="")
            input(type="submit", value="Register")
        a(href="/login") Already have an account? Login here.
    script.
        let pass= document.getElementById("password");
        let passConfirm= document.getElementById("password");
        let form = document.getElementById("form");
        form.addEventListener('submit',(e)=>{
            e.preventDefault();
            if(pass == passConfirm){
                form.submit();
            }
         })
        